{{define "prompt.html"}}
<script>
  document.addEventListener('htmx:beforeRequest', function(event) {
    if (event.target.id === 'submitBtn') {
        event.target.innerHTML = '<i class="fas fa-spinner fa-spin"></i>';
    }
  });

  document.addEventListener('htmx:afterRequest', function(event) {
    if (event.target.id === 'submitBtn') {
        event.target.innerHTML = '<i class="fa-regular fa-paper-plane"></i>';
        document.getElementById('message-textarea').value = '';
    }
  });
</script>

<div class="fixed inset-x-0 bottom-0 px-4 pb-4 shadow-lg">
  <form class="flex justify-center">
    <div class="relative w-2/3 md:w-1/2">
      <textarea
        id="message-textarea"
        class="w-full h-20 p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Ask your question here"
        name="prompt"
      ></textarea>
      <button 
        id="submitBtn"
        hx-post="/run"
        hx-trigger="click, keyup[ctrlKey&&key=='Enter'] from:textarea"
        hx-swap="innerHTML"
        hx-target="#messages"
        class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <i class="fa-regular fa-paper-plane"></i>
      </button>
    </div>
  </form>
</div>
{{end}}
