{{define "dropdowns.html"}}
<div class="flex flex-row items-center space-x-4">
  <form id="platform-model-form"
    class="flex-grow flex flex-row space-x-2"
    hx-post="/select-model"
    hx-trigger="change from:#model-select"
    hx-target="#state"
  >
    <select
      name="platform-option"
      class="select select-ghost w-full max-w-xs"
      hx-get="/model-platform"
      hx-trigger="load"
      hx-target="this"
      hx-on::after-request="htmx.trigger('#model-select', 'reset')"
    >
      <option disabled selected value="">Model Platform</option>
    </select>

    <select
      id="model-select"
      name="model-option"
      class="select select-ghost w-full max-w-xs"
      hx-get="/model"
      hx-trigger="reset, change from:select[name='platform-option']"
      hx-target="this"
      hx-include="[name='platform-option']"
    >
      <option disabled selected value="">Select Model</option>
    </select>
  </form>

  <!-- State -->
  <div
    id="state"
    hx-get="/state"
    hx-trigger="load, every 5s"
  >
    {{template "state.html" .}}
  </div>
</div>
{{end}}
