{{define "index.html"}}
<!DOCTYPE html>
<html data-theme="dracula" lang="en">
  <head>
    <title>JennAI</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.7"
      integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8"
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <script>
      document.addEventListener('htmx:afterSwap', function(event) {
        if (event.detail.elt.id === 'messages') {
          scrollToBottom();
        }
      });

      function scrollToBottom() {
        var messagesDiv = document.getElementById('messages');
        messagesDiv.scrollTop = messagesDiv.scrollHeight;
      }
    </script>

    <div class="flex h-screen">
      <!-- Sidebar -->
      <div class="w-64 bg-gray-900 p-4 flex flex-col" hx-get="/messages" hx-trigger="load" hx-target="#sidebar-messages" hx-swap="innerHTML">
        <div class="text-white text-xl mb-4">{{.Message}}</div>
        <div id="sidebar-messages">
          <!-- Messages will be loaded here -->
        </div>
      </div>

      <!-- Main content -->
      <div class="flex flex-col flex-grow text-gray-900 dark:text-gray-100 p-4">

        <!-- Card divided area -->
        <div class="flex w-full">
          <!-- Left Card -->
          <div class="card rounded-box grid h-20 flex-grow place-items-center">
            <div class="pl-40">
              {{template "dropdowns.html" .}}
            </div>
          </div>

          <!-- Right Card -->
          <div class="card rounded-box grid h-20 flex-grow place-items-center">
            <label class="flex cursor-pointer gap-2">
              <span class="label-text">Current</span>
              <input type="checkbox" value="coffee" class="toggle theme-controller" />
              <span class="label-text">Coffee</span>
            </label>
          </div>
        </div>

        <!-- Messages -->
        <div id="htmlOutput" class="flex flex-col flex-grow pl-40 pr-40 mb-20">
          <div 
            id="messages"
            class="flex flex-col flex-grow overflow-y-auto border-0 text-gray-100 mb-20"
            style="max-height: calc(100vh - 200px);"
          >
            {{template "chat.html" .}}
          </div>
        </div>

        <!-- Prompt -->
        <div class="fixed inset-x-0 bottom-0 pb-4">
          {{template "prompt.html" .}}
        </div>
      </div>
  </body>
</html>
{{end}}
